{
    "ecmaFeatures": {
        "modules": true,
        "blockBindings": true,
        "forOf": true,
        "jsx": true
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "rules": {
        "strict": 0
    }
}